@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;

  --page-width: 650px;
  --page-x-margin: 30px;
  --page-top: 125px;

  --border-color: rgb(235, 235, 235);
  --hover-bg-color: rgb(245, 245, 245);

  --text-copy: rgb(10, 10, 10);
  --weight-copy: 450;

  --text-light: rgba(10, 10, 10, 0.6);
  --text-light-large: rgba(10, 10, 10, 0.7);

  --underline-color: rgb(215, 215, 215);
  --underline-color-inline: rgb(205, 205, 205);

  --text-heading: rgb(30, 30, 30);
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Baskervville", serif;
  font-optical-sizing: auto;
  font-style: normal;
}


p {
  color: var(--text-copy);
  font-weight: var(--weight-copy);

  font-size: 18px;
  line-height: 1.45;

  margin-top: 1.45rem;
}



.sans {
  font-family: "Atkinson Hyperlegible Next", sans-serif;
  font-weight: 225;
}





p.small {
  font-size: 0.875rem;
  line-height: 1.4;
}

ul {
  margin-top: 0.75rem;
  margin-left: 1.75rem;
  list-style-type: disc;
  color: var(--text-light);
}


li {
  color: var(--text-copy);
  font-weight: var(--weight-copy);
  font-size: 18px;
  line-height: 1.45;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding-left: 0.33rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-heading);
  font-weight: var(--weight-heading);
}

h1 {
  font-size: 32px;
  line-height: 1.4;
  --weight-heading: 525;
}

h2 {
  font-size: 22px;
  line-height: 1.25;
  --weight-heading: 550;
}

h3 {
  font-size: 18px;
  line-height: 1.3;
  --weight-heading: 450;

  color: var(--text-copy);
}

.figure-container {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}


.tooltip-shadow {
  filter: drop-shadow(0px 6px 10px rgba(0, 0, 0, 0.15)) !important;
}

p+h1 {
  margin-top: 2.25rem;
  margin-bottom: 0rem;
  /* --weight-heading: 600; */
}

p+h2,
h3 {
  margin-top: 2.0rem;
  margin-bottom: 0.25rem;
  --weight-heading: 600;
}

td {
  font-family: "Atkinson Hyperlegible Next", sans-serif !important;
  font-weight: 225;
}

th {
  font-family: "Atkinson Hyperlegible Next", sans-serif !important;
  font-weight: 475;
  white-space: nowrap;
}

code {
  display: inline-block;
  font-size: 0.85rem;
  background-color: #f9f4ee;
  padding: 0rem 0.3rem;
  border-radius: 4px;
}


/*  */
/*  */
